@model IEnumerable<WatchdogDatabaseAccessLayer.EscalationChain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var chain in Model)
{
    <div class="well well-lg">
        @chain.Name

        <ol>
            @for (var root = @chain.EscalationChainRootLink; root != null; root = root.NextLink)
            {
                <li>@root.NotifyeeGroup.Name</li>
            }
        </ol>
    </div>
}
