@model AdministrationPortal.ViewModels.RuleTemplates.DetailsRuleTemplateViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RuleTemplate</h4>
    <hr />

    @Html.Partial("PartialDetails", Model)

    @using (Html.BeginForm("DeleteConfirmed", "RuleTemplates", Model.RuleTemplateId)) {
        @Html.AntiForgeryToken()

        @Html.Hidden("id", Model.RuleTemplateId)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
