body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Disabled hoverering over table header*/
.table-hover > tbody > tr:hover > th{
    background-color: #f9f9f9;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Overrides bootstra table-striped class to allow for red bg color in the status td*/
.redTableCell,
.table-striped > tbody > tr:nth-child(odd) > .redTableCell
{
    background-color: #ff0000;
}

/* Overrides table-hover to change hover color of the status td*/
.table-hover > tbody > tr:hover > .redTableCell{
    background-color: #e60000;
}


/* Overrides bootstra table-striped class to allow for yellow bg color in the status td*/
.yellowTableCell,
.table-striped > tbody > tr:nth-child(odd) > .yellowTableCell
{
    background-color: #ffff00;
}
/* Overrides table-hover to change hover color of the status td*/
.table-hover > tbody > tr:hover > .yellowTableCell{
    background-color: #e6e600;
}

/* Overrides bootstra table-striped class to allow for yellow bg color in the status td*/
.greenTableCell,
.table-striped > tbody > tr:nth-child(odd) > .greenTableCell
{
    background-color: #33cc00;
}
/* Overrides table-hover to change hover color of the status td*/
.table-hover > tbody > tr:hover > .greenTableCell{
    background-color: #2db300;
}
.orangeTableCell,
.table-striped > tbody > tr:nth-child(odd) > .orangeTableCell
{
    background-color: #ff9900;
}
/* Overrides table-hover to change hover color of the status td*/
.table-hover > tbody > tr:hover > .orangeTableCell{
    background-color: #e68a00;
}

.blueTableCell,
.table-striped > tbody > tr:nth-child(odd) > .blueTableCell
{
    background-color: #ace600;
}
/* Overrides table-hover to change hover color of the status td*/
.table-hover > tbody > tr:hover > .blueTableCell{
    background-color: #99cc00;
}

/* Change cursor to pointer when hovering over table row*/
.table-hover > tbody > tr:hover > td{
    cursor:pointer;
}

.navbar-inverse {
  background-color: #373A64 !important;
  border-color: #080808;
}

